:root {
    --bg-color: #cec2af;
    --text-color-dark: #423f3a;
    --text-color-light: #d3ccc2;
    --accent-color: #2a170d;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
}